<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- page-header 裡面顯示個人檔案資料 -->
      <div class="page-header">

        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>
          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong><%= @user.email %></strong></p>
          <ul class="list-inline">
            <li><%= @commented_restaurants.count %>間已評論餐廳</li>
            <li><%= @favorited_restaurants.count %>間已收藏餐廳</li>
            <li><%= @followings.count %>位追蹤中的美食家</li>
            <li><%= @followers.count %>位追蹤你的美食家</li>
          </ul>
          <div><%= simple_format @user.intro %></div>
          <% if @user.email == current_user.email %>
            <%= link_to '修改個人資料', edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @followings.count %>位追蹤中的美食家</h3>
          </div>
          <ul class="list-group">
            <% @followings.each do |following| %>
            <li class="list-group-item">
              <%= link_to user_path(following) do %>
              <%= image_tag "http://via.placeholder.com/30x30", class: "img-circle" %>
              <%= following.name %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @followers.count %>位追蹤你的美食家</h3>
          </div>
          <ul class="list-group">
            <% @followers.each do |follower| %>
            <li class="list-group-item">
              <%= link_to user_path(follower) do %>
              <%= image_tag "http://via.placeholder.com/30x30", class: "img-circle" %>
              <%= follower.name %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>

      </div>

      <div class="col-md-8">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @commented_restaurants.count %>間已評論餐廳</h3>
          </div>
          <div class="panel-body">
            <% @commented_restaurants.each do |restaurant| %>
            <%= link_to restaurant_path(restaurant) do %>
            <div class="my-restaurant">
              <div>
                <%= image_tag "http://via.placeholder.com/80x80", class: "img-responsive img-rounded" %>
              </div>
              <h5><%= restaurant.name %></h5>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @favorited_restaurants.count %>間已收藏餐廳</h3>
          </div>
          <div class="panel-body">
            <% @favorited_restaurants.each do |restaurant| %>
            <%= link_to restaurant_path(restaurant) do %>
            <div class="my-restaurant">
              <div>
                <%= image_tag "http://via.placeholder.com/80x80", class: "img-responsive img-rounded" %>
              </div>
              <h5><%= restaurant.name %></h5>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>